*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/**ALGEMENE CUSTOM PROPERTIES**/
:root {
  --main-background-color: #D0D9E8;
  --second-background-color: #CED2DD;
  --main-text-color: #3B3E45;
  --second-text-color: #5B5F67;
  --third-text-color: #2E2F34;
  --focus-border-color: #696969;
  --focus-shadow-color: #888888;
  --input-background-color: #F5F5F5;
  --account-background-color: 	#FFFFFF;
  --button-background-color: #3D69E1;
  --valid-color: #176e17;
  --invalid-color: #FF0000;
}

/**ALGEMENE STIJL**/
body {
  text-align: center;
  background-color:var(--main-background-color);
}

/**TOEGANGELIJK MENU SKIP**/
body > a {
  background:var(--second-background-color);
  color:var(--main-text-color);
  z-index:200;
  height:50px;
  padding:8px;
  position:absolute;
  transform:translateY(-100%);
  transition: 1s ease;
}
body > a:focus {
  transform:translateY(0);
}

/**LOGO + MENU ALGEMEEN**/
header {
  padding: .5em .75em;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 100;
}

/**ALLE LINKJES**/
a {
  text-decoration: none;
}
a:focus {
  border: 5px solid var(--focus-border-color);
  box-shadow: 5px 10px var(--focus-shadow-color);
}

/**LOGO**/
h1 img {
  width: 100%;
  display: flex;
}

/**NAVIGATIE BEGIN STIJL**/
nav {
  order:-1;
  display: flex;
  justify-content: space-between;
}
nav button {
  font:inherit;
  z-index: 100;
  width: 5em;
  appearance: none;
  border-radius: 40px;
  border: solid var(--third-text-color);
  background-color:var(--second-background-color);
}
nav button:focus {
  border: 5px solid var(--focus-border-color);
  box-shadow: 5px 10px var(--focus-shadow-color);
}
nav ul {
  background-color: #FFFFFF;
  color:var(--main-text-color);
  opacity: 85%;
  list-style: none;
  position: fixed;
  top: 5em;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: 1s ease-in;
  z-index: 50;
}
nav.toonMenu ul {
  transform: translateX(0);
  transform: rotatey(180deg);
}
nav ul li {
  text-align: center;
  padding: 12px 16px;
  transform: rotatey(-180deg);
}
nav ul li a {
  color: var(--main-text-color);
}

/**ALGEMENE STIJL SECTIONS**/
section {
  font-family: sans-serif;
  position: relative;
  margin-top: 10px;
}

/**SECTION ON SCROLL FADE**/
.animatie {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.animatie.fade {
  opacity: 1;
}

section > a {
  background-color:var(--second-background-color);
  color:var(--third-text-color);
  border-radius: 50px;
  padding: 5px;
  margin: 0 3em;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 12em;
  right: 0;
  left: 0;
  z-index: 10;
}
section > a:nth-last-of-type(2) {
  background-color: var(--third-text-color);
  color: var(--second-background-color);
  border-radius: 50px;
  padding: 5px;
  margin: 0 3em;
  margin-top: 20px;
  bottom: 15em;
}
section:last-of-type a {
  background-color: var(--third-text-color);
  color: var(--second-background-color);
  border-radius: 50px;
  padding: 5px;
  margin: 0 3em;
  bottom: 15em;
  z-index: 10;
}
section h2 {
  color:var(--main-text-color);
  position: absolute;
  bottom: 25em;
  right: 0;
  left: 0;
  z-index: 10;
}
section h3 {
  color:var(--second-text-color);
  font-size: 16px;
  position: absolute;
  top: 9em;
  right: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 100px;
}
section h3 a {
  color: inherit;
  text-decoration: underline;
}

/**ACCOUNT PAGINA**/
.account {
  background-color:var(--account-background-color);
}
.button {
  background-color: var(--account-background-color);
}
.accountheading {
  position: static;
  text-align: left;
  margin-left: 15px;
  margin-top: 45px;
}

/**FORMULIER STIJLING**/
form {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 270px;
}
label {
  margin-left: 15px;
}
label:nth-last-of-type(3){
  margin-top: 15px;
  display: block;
}
select {
  margin-left: 15px;
  width: 90%;
  padding: .8em;
  border: none;
  border-radius: 35px;
  background-color:var(--input-background-color);
  margin-bottom: 15px;
}
input {
  margin-left: 15px;
  width: 90%;
  padding: .8em;
  border: none;
  border-radius: 35px;
  background-color:var(--input-background-color);
  margin-bottom: 15px;
  transition: 2s;
}

/*RADIO BUTTONS*/
input:nth-of-type(4), input:nth-of-type(5), input:nth-of-type(6) {
  width: 16px;
  height: 16px;
}

/*SUBMIT INPUTS*/
input:nth-last-of-type(2) {
  color:var(--account-background-color);
  font-weight: bolder;
  background-color:var(--button-background-color);
  margin-top: 15px;
}
input:last-of-type {
  color: black;
  font-weight: bolder;
  background-color:var(--account-background-color);
  border: 3px solid var(--main-text-color);
}

/*CHECKBOX*/
input:nth-last-of-type(4) {
  margin-bottom: 35px;
  border: none;
}

input:focus {
  border: 5px solid var(--focus-border-color);
  box-shadow: 5px 10px var(--focus-shadow-color);
}

/**EMAIL ADDRES STYLING**/
input:nth-last-of-type(6):invalid {
  border-color: var(--invalid-color);
}
input:nth-last-of-type(6):valid {
  border-color: var(--valid-color);
}

/*FOCUS RADIO BUTTONS & CHECKBOX*/
input:nth-of-type(4), input:nth-of-type(5), input:nth-of-type(6), input:nth-last-of-type(4):focus {
  border: none;
  box-shadow: none;
}

/**INPUT VELD VAN OTHERS**/
.input {
	display: none;
}
.visible {
	display: block;
}

form img {
  margin-left: 45px;
  width: 290px;
}
p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
p:first-of-type {
  margin-bottom: 0;
}

/**FOOTER STIJL**/
footer {
  margin-top: 15px;
  margin-bottom: 5px;
}
footer ul {
  display: flex;
  justify-content: space-between;
}
footer ul li {
  display: flex;
}
footer ul li a {
  color: inherit;
}

div.img {
  display: flex;
  margin: 0;
  padding: 20px;
  transform: rotate(90deg);
  position: relative;
  top: -500px;
  width: 100vh;
  z-index: 100;
}

@media screen and (max-width: 390px) {
  div.img {
    display: none;
  }
}
@media screen and (min-width: 150px) and (max-width: 390px) {
  body {
    background-color: var(--second-background-color);
  }
@media screen and (min-width: 390px) and (max-width: 2000px) {
  body {
    background-color: black;
  }
